body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.navbar {
  width: 100vw;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.125s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 100px;
  width: 100px;
}

.progress {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mw-1920 {
  max-width: 1920px;
}

.d-none {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

.open-card {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.load-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-icon {
  width: auto;
  height: 24px;
  margin-right: 5px;
}

.arrow-left,
.arrow-right {
  position: fixed;
  top: 95%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
}

.arrow-left img,
.arrow-right img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.arrow-left {
  left: 40%;
}

.arrow-right {
  right: 40%;
}

@keyframes pokeballAnimation {
  0%, 100% {
    background-image: url('/public/img/001.png');
  }
  14.29% {
    background-image: url('/public/img/002.png');
  }
  28.57% {
    background-image: url('/public/img/003.png');
  }
  42.86% {
    background-image: url('/public/img/004.png');
  }
  57.14% {
    background-image: url('/public/img/005.png');
  }
  71.43% {
    background-image: url('/public/img/006.png');
  }
  85.71% {
    background-image: url('/public/img/007.png');
  }
}

.loadingScreen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeball-icon {
  animation: pokeballAnimation 2.8s steps(7) infinite;
  width: auto;
  height: auto;
}