body {
    background-color: rgba(0, 0, 0, 0.2);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 500px;
    padding: 10px;
}

.card-img-top {
    max-height: 200px;
}

.progress {
    margin-bottom: 5px;
}